@model SparkServerLite.ViewModels.BlogListViewModel

@{
    ViewData["Title"] = Model.Header;
}

<div class="content">

    <div class="section">

        <h2 class="title">@ViewData["Title"]</h2>

        <ul class="blog-list">

            @foreach (var blog in Model.BlogList)
            {
                <li class="blog-card">

                    <div class="image-preview" style="background-image: url('@blog.ImageThumbnailPath');">
                        <a href="@blog.URL" aria-label="@blog.Title" title="@blog.Title">&nbsp;</a>
                    </div>

                    <div class="overview">
                        <h3><a href="@blog.URL">@blog.Title</a></h3>
                        <div class="subtitle">@blog.Subtitle</div>
                        <div class="date">@blog.PublishDate.ToString("MMMM dd, yyyy")</div>
                    </div>

                </li>
            }

        </ul>

        @await Html.PartialAsync("_Paging", Model.Paging)

    </div>

    <div class="section" style="padding-top: 4em;">

        <h2>Explore Tags</h2>

        @if (Model.BlogTagList.Count > 0)
        {
            <ul class="explore-tags">

            @foreach (var tag in Model.BlogTagList)
            {
                <li><a href="/posts/tag/@tag.BlogTagName">@tag.BlogTagName</a></li>
            }

            </ul>
        }

    </div>

</div>