@model SparkServerLite.ViewModels.BlogListViewModel

@{
    ViewData["Title"] = Model.Header;
}

<div class="section" style="max-width: 1100px; margin: 0 auto;">

    <h2 class="title">@ViewData["Title"]</h2>

    <ul class="blog-list">

        @foreach (var blog in Model.BlogList)
        {
            <li class="blog-card">

                <a href="@blog.URL">
                    <img src="@blog.ImageThumbnailPath" title="@blog.Title" alt="@blog.Title" />
                </a>

                <div class="overview">
                    <h3><a href="@blog.URL">@blog.Title</a></h3>
                    <div class="subtitle">@blog.Subtitle</div>
                    <div class="date">@blog.PublishDate.ToString("MMMM dd, yyyy")</div>
                </div>

            </li>
        }

    </ul>

    @await Html.PartialAsync("_Paging", Model.Paging)

</div>

<div class="section" style="padding-top: 4em;">

    <h2>Explore Tags</h2>

    @if (Model.BlogTagList.Count > 0)
    {
            <ul class="explore-tags">

            @foreach (var tag in Model.BlogTagList)
            {
                        <li><a href="/blog/tag/@tag.BlogTagName">@tag.BlogTagName</a></li>
            }

            </ul>
    }

</div>