@model SparkServerLite.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - SparkServerLite</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Sitecore 101 for .NET Developers - Practical Sitecore by Example">
        <meta name="author" content="Brandon Bruno">
        @await RenderSectionAsync("PageMetadata", required: false)

        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/SparkServerLite.styles.css" asp-append-version="true" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </head>

    <body>

        <div class="content">

            <header class="cf">

                <div class="logo-wrapper">
                    <a href="/">
                        <picture>
                            <source srcset="~/Content/Images/logo2022_dark.png" media="(prefers-color-scheme: dark)" />
                            <img src="~/Content/Images/logo2022.png" alt="Sitecore Spark Logo" class="logo" />
                        </picture>
                    </a>
                </div>

                <div class="byline-wrapper">
                    <nav class="cf">
                        <ul class="cf">
                            <li><a href="/Admin">Admin Home</a></li>
                            <li><a href="/Admin/BlogList">Blog</a></li>
                            <li><a href="/Admin/BlogTagList">Blog Tags</a></li>
                            <li><a href="/Admin/Banners">Banners</a></li>
                            <li><a href="/Admin/ArticleList">Article</a></li>
                            <li><a href="/Admin/CategoryList">Categories</a></li>
                        </ul>
                    </nav>
                </div>

            </header>

            <div class="container cf">

                @if (TempData["Success"] != null)
                {
                    <div class="status-message success">
                        @TempData["Success"]
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="status-message error">
                        @TempData["Error"]
                    </div>
                }

                @RenderBody()

            </div>

        </div>

        <footer class="page">
            <div class="content">
                <ul class="grid two-up cf" style="margin-bottom: 0;">
                    <li>
                        <p><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://www.twitter.com/brandonmbruno" target="_blank">@@BrandonMBruno</a></p>
                        <p><i class="fa fa-slack" aria-hidden="true"></i> <a href="https://sitecorechat.slack.com/" target="_blank">@@brandon.bruno</a></p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:bmbruno+sitecorespark@gmail.com">bmbruno+sitecorespark@gmail.com</a></p>

                    </li>
                    <li>
                        <p style="font-weight: bold;">Sitecore Spark: an Independent Sitecore &amp; Technology Blog</p>
                        <p>&copy; @DateTime.Today.Year.ToString() SitecoreSparkLite. All rights reserved.</p>
                        <p>Not affiliated with <a href="http://www.sitecore.com" target="_blank" style="font-weight: bold;">Sitecore Corporation A/S</a>. Sitecore&reg; is a registered U.S. trademark.</p>
                        <p><strong>Ed. Note:</strong> My employment with Sitecore does not interfere with my editorial independence on Sitecore Spark. Similarly, confidential Sitecore knowledge is not used to influence any article or blog content on Sitecore Spark.</p>
                    </li>
                </ul>
            </div>

        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("PageScripts", required: false)

    </body>

</html>
