@model SparkServerLite.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - @Model.Sitename</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="@Model.SiteDescription">
        <meta name="author" content="Brandon Bruno">
        @await RenderSectionAsync("PageMetadata", required: false)

        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism-spark.css" asp-append-version="true" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </head>

    <body class="admin">

        <header>

            <div class="logo-wrapper">
                <a href="/">
                    <picture>
                        <source srcset="/images/site-logo.png" media="(prefers-color-scheme: dark)" />
                        <img src="/images/site-logo.png" alt="SITE_NAME Logo" class="logo" />
                    </picture>
                </a>
            </div>

            <div>
                <nav>
                    <ul>
                        <li><a href="/Admin">Admin Home</a></li>
                        <li><a href="/Admin/BlogList">Blogs</a></li>
                        <li><a href="/Admin/BlogTagList">Blog Tags</a></li>
                        <!-- <li><a href="/Admin/Media">Media</a></li> -->
                    </ul>
                </nav>
            </div>

        </header>

        <div class="content admin">

            @if (TempData["Success"] != null) 
            {
                <div class="status-message success">
                    @TempData["Success"]
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="status-message error">
                    @TempData["Error"]
                </div>
            }

            @RenderBody()

        </div>

        <footer>
            <div>
                <ul>
                    <li>
                        <p>&copy; @DateTime.Today.Year.ToString() @Model.Sitename. All rights reserved.</p>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
        <script src="/js/prism.js" asp-append-version="true"></script>
        @await RenderSectionAsync("PageScripts", required: false)

    </body>

</html>
