@model SparkServerLite.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - SITE_NAME</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="SITE_DESCRIPTION">
        <meta name="author" content="Brandon Bruno">
        @await RenderSectionAsync("PageMetadata", required: false)

        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </head>

    @{
        bool showHomeLink = (Model.MenuSelection != SparkServerLite.Infrastructure.Enums.MainMenu.Home);
    }

    <body>

        <div class="content">

            <header class="cf">

                <div class="logo-wrapper">
                    <a href="/">
                        <picture>
                        <source srcset="/images/site-logo.png" media="(prefers-color-scheme: dark)" />
                            <img src="/images/site-logo.png" alt="SITE_NAME Logo" class="logo" />
                        </picture>
                    </a>
                </div>

                <div class="byline-wrapper">
                    <nav class="cf">
                        <ul class="main-menu cf">
                            @if (showHomeLink)
                            {
                                <li><a href="/">Home</a></li>
                            }
                            <li @if (!showHomeLink) { <text> style="float: right;" </text> }><a href="/Blog">All Posts</a></li>
                        </ul>
                        <ul class="mobile-menu cf">
                            @if (showHomeLink)
                            {
                                <li><a href="/">Home</a></li>
                                <li><a href="/Blog">All Posts</a></li>
                            }
                            else
                            {
                                <li style="margin: 0 auto; float: none;"><a href="/Blog">All Posts</a></li>
                            }

                        </ul>
                    </nav>
                </div>

            </header>

            <div class="container cf">

                @if (TempData["Success"] != null)
                {
                    <div class="status-message success">
                        @TempData["Success"]
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="status-message error">
                        @TempData["Error"]
                    </div>
                }

                @RenderBody()

            </div>

        </div>

        <footer class="page">
            <div class="content">
                <ul class="grid two-up cf" style="margin-bottom: 0;">
                    <li>
                        <p><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://www.twitter.com/brandonmbruno" target="_blank">@@BrandonMBruno</a></p>
                        <p><i class="fa fa-slack" aria-hidden="true"></i> <a href="https://sitecorechat.slack.com/" target="_blank">@@brandon.bruno</a></p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:bmbruno+sitecorespark@gmail.com">bmbruno+sitecorespark@gmail.com</a></p>

                    </li>
                    <li>
                        <p style="font-weight: bold;">SITE_DESCRIPTION</p>
                        <p>&copy; @DateTime.Today.Year.ToString() SITE_NAME. All rights reserved.</p>
                    </li>
                </ul>
            </div>

        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("PageScripts", required: false)

    </body>

</html>
