@model SparkServerLite.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - SITE_NAME</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="SITE_DESCRIPTION">
        <meta name="author" content="Brandon Bruno">
        @await RenderSectionAsync("PageMetadata", required: false)

        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism-spark.css" asp-append-version="true" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </head>

    @{
        bool showHomeLink = (Model.MenuSelection != SparkServerLite.Infrastructure.Enums.MainMenu.Home);
    }

    <body>

        <div class="content">

            <header>

                <div class="logo-wrapper">
                    <a href="/">
                        <picture>
                        <source srcset="/images/site-logo.png" media="(prefers-color-scheme: dark)" />
                            <img src="/images/site-logo.png" alt="SITE_NAME Logo" class="logo" />
                        </picture>
                    </a>
                </div>

                <div>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog">All Posts</a></li>                            
                        </ul>
                    </nav>
                </div>

            </header>

            <div class="container cf">

                @if (TempData["Success"] != null)
                {
                    <div class="status-message success">
                        @TempData["Success"]
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="status-message error">
                        @TempData["Error"]
                    </div>
                }

                @RenderBody()

            </div>

        </div>

        <footer>
            <div>
                <ul>
                    <li>
                        <p style="font-weight: bold;">SITE_DESCRIPTION</p>
                        <p>&copy; @DateTime.Today.Year.ToString() SITE_NAME. All rights reserved.</p>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="/js/site.js" asp-append-version="true"></script>
        <script src="/js/prism.js" asp-append-version="true"></script>
        @await RenderSectionAsync("PageScripts", required: false)

    </body>

</html>
