@model SparkServerLite.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - @Model.Sitename</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="@Model.SiteDescription">
        <meta name="author" content="Brandon Bruno">
        @await RenderSectionAsync("PageMetadata", required: false)

        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism-spark.css" asp-append-version="true" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </head>

    @{
        bool showHomeLink = (Model.MenuSelection != SparkServerLite.Infrastructure.Enums.MainMenu.Home);
    }

    <body>

        <div>

            <header class="container">

                <div class="logo-wrapper">
                    <a href="/">
                        <picture>
                            <source srcset="/images/logo_icon_web.png" media="(prefers-color-scheme: dark)" />
                            <img src="/images/logo_icon_web.png" alt="@Model.Sitename Logo" title="@Model.Sitename" class="logo" />
                        </picture>
                    </a>
                    <p class="logo-byline">@Model.SiteDescription</p>
                </div>

                <div>
                    
                    <nav>
                        <ul>
                            @if (showHomeLink)
                            {
                                <li><a class="btn" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            }
                            <li><a class="btn" href="/posts"><i class="fa fa-book" aria-hidden="true"></i> All Posts</a></li>
                        </ul>
                    </nav>
                </div>

            </header>

            <div class="container">

                @if (TempData["Success"] != null)
                {
                    <div class="status-message success">
                        @TempData["Success"]
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="status-message error">
                        @TempData["Error"]
                    </div>
                }

            </div>

            @RenderBody()

        </div>

        <footer>
            <div class="container">
                <div>
                    <p class="bold">&copy; @DateTime.Today.Year.ToString() Brandon Bruno. All rights reserved.</p>
                    <p>Refactor: insights by Brandon Bruno on .NET, JavaScript, software architecture, career advancement, and leadership.</p>
                </div>
                <div>
                    <p>Comments? Questions? <a href="https://www.linkedin.com/in/brandonbruno/" target="_blank">Brandon Bruno on LinkedIn</a></p>
                </div>
            </div>
        </footer>

        <script src="/js/site.js" asp-append-version="true"></script>
        <script src="/js/prism.js" asp-append-version="true"></script>
        @await RenderSectionAsync("PageScripts", required: false)

    </body>

</html>
