@model SparkServerLite.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - @Model.AppContent.SiteTitle</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="@Model.AppContent.SiteSubtitle">
        <meta name="author" content="Brandon Bruno">
        @await RenderSectionAsync("PageMetadata", required: false)

        <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/prism-spark.css" asp-append-version="true" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </head>

    @{
        bool showHomeLink = (Model.MenuSelection != SparkServerLite.Infrastructure.Enums.MainMenu.Home);
    }

    <body>

        <div>

            <header class="container">

                <div class="logo-wrapper">
                    <a href="/">
                        <picture>
                            <img src="@Model.AppContent.SiteLogoURL" alt="@Model.AppContent.SiteTitle Logo" title="@Model.AppContent.SiteTitle" class="logo" />
                        </picture>
                    </a>
                    @if (Model.AppContent.ShowSubtitle)
                    {
                        <p class="logo-byline">@Model.AppContent.SiteSubtitle</p>
                    }
                </div>

                <div>
                    
                    <nav>
                        <ul>
                            @if (showHomeLink)
                            {
                                <li><a class="btn" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            }
                            <li><a class="btn" href="/posts"><i class="fa fa-book" aria-hidden="true"></i> All Posts</a></li>
                        </ul>
                    </nav>
                </div>

            </header>

            <div class="container">

                @if (TempData["Success"] != null)
                {
                    <div class="status-message success">
                        @TempData["Success"]
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="status-message error">
                        @TempData["Error"]
                    </div>
                }

            </div>

            <div class="container">
                @RenderBody()
            </div>

        </div>

        <footer>
            <div class="container">
                <div>
                    <p style="font-weight: bold;">&copy; @DateTime.Now.Year @Html.Raw(Model.AppContent.Footer.Copyright)</p>
                    <p>@Html.Raw(Model.AppContent.Footer.Description)</p>
                </div>
                <div>
                    <p>@Html.Raw(Model.AppContent.Footer.Blurb)</p>
                </div>
            </div>
        </footer>

        <script src="/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("PageScripts", required: false)

    </body>

</html>
